<!-- EN VY FÖR EN PRODUKT I WEBBSHOPPEN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webbshop</title>
</head>
<body>
    
<h1>Product X</h1>

<%= newTest %>

</body>
</html>